body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  box-sizing: border-box;
}

#root {
  background-color: #70abd3;
  background-image: radial-gradient(#70abd3 0%, #00305b 100%);
}

/*App*/
.calendar {
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 50px; /*TODO: REMOVE*/
  width: 90vw;
}

/*Shared*/

.day,
.today,
.empty-box,
.months-bar {
  background-color: #404040;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/*Month Bar*/
.months-bar {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 800;
}

.prev-month,
.next-month {
  flex: 0 1 25%;
  color: rgba(255, 255, 255, 0.5);
}

.prev-month div,
.next-month div {
  padding: 0.1rem 0.4rem;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.prev-month div {
  justify-content: flex-start;
  border-radius: 10px 0 0 10px;
}
.next-month div {
  justify-content: flex-end;
  border-radius: 0 10px 10px 0;
}

.prev-month div:hover,
.next-month div:hover {
  cursor: pointer;
  color: white;
  background: rgba(255, 255, 255, 0.05);
}

.month-navigation-icon {
  font-size: 1.4rem;
}

.prev-month div .prev-month-name,
.next-month div .next-month-name {
  display: none;
}

.current-month {
  font-size: 1.1rem;
  flex: 0 1 50%;
  text-align: center;
}

.current-month-episodes {
  display: none;
}

/*Month*/
.month {
  margin: 1.2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/*Day*/
.month > [class*="day"] {
  flex: 0 1 31%;
  margin: 0.1rem 0;
  padding: 1px 1px 6px 1px;
}

.empty-box {
  display: none;
}

.today {
  background-image: radial-gradient(#ffce30 0%, #e07000 100%);
}
.today .day-info {
  background: #8c3700;
  border-bottom: 1px solid rgba(178, 34, 34, 0.4);
}

.day-info {
  padding: 0.2rem 0 0.05rem 0.5rem;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 10px 10px 0 0;
  color: rgba(255, 255, 255, 0.33);
  font-family: Oswald, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.day-shows {
  min-height: 30px;
}

.day-date {
  font-size: 1.6rem;
  letter-spacing: -0.033rem;
  font-weight: 800;
}

.day-name {
  font-weight: 400;
  width: 45%;
}

.day-name,
.show {
  font-size: 0.7rem;
}

/*Show*/
.show {
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}
.show:last-of-type {
  border-bottom: none;
}

.show [class*="show"] {
  display: block;
}

.show-name {
  font-weight: bold;
}

.show [class*="show-episode"] {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  /*MonthsBar*/
  .prev-month div .prev-month-name,
  .next-month div .next-month-name {
    display: inline-block;
    font-size: 0.9rem;
  }

  .prev-month div .prev-month-name {
    padding-left: 0.3rem;
  }

  .next-month div .next-month-name {
    padding-right: 0.3rem;
    text-align: end;
  }

  /*Month*/

  /*Day*/
  .month > [class*="day"],
  .empty-box {
    flex: 0 1 13.5%;
  }

  .empty-box {
    visibility: hidden;
    display: block;
    padding: 1px 1px 6px 1px;
  }
}

@media only screen and (min-width: 992px) {
  /*MonthsBar*/
  .current-month-episodes {
    display: inline-block;
  }
}
